@model ManyToManyAssignmentViewModel

@{
    ViewData["Title"] = "Assign Keywords";
}

<form asp-action="AssignKeywords" asp-route-id="@Model.EntityId" method="post">
    <partial name="_AssignmentForm" model="Model" />
</form>
