@model UserAdminFormViewModel

@{
    ViewData["Title"] = "Create User";
}

<h1 class="h3 mb-3">Create User</h1>

<form asp-action="Create" method="post">
    <partial name="_UserForm" model="Model" />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
