@model JournalFormViewModel
@{ ViewData["Title"] = "Create Journal"; }
<h1 class="h3 mb-3">Create Journal</h1>
<form asp-action="Create" method="post"><partial name="_Form" model="Model" /></form>
@section Scripts { <partial name="_ValidationScriptsPartial" /> }
